.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/env/
/docs/_build/
/src/*.egg-info/
__pycache__/
/.venv/
/.idea/
*.ipynb_checkpoints
*__pycache__
docs/build/*
.env
/data/
/.fleet/
/.vscode/
